[include]
  path = .gitconfig.d/user.conf
  path = ~/Code/github.com/dandavison/delta/themes.gitconfig
[core]
  editor = emacsclient --alternate-editor=
  excludesfile = ~/.gitignore_global
  pager = delta
[init]
  defaultBranch = main
[push]
  default = current
[pull]
  ff = only
[rebase]
  autosquash = true
  updateRefs = true
[alias]
  l1 = log --oneline
  lp = log --patch --stat
  graph = log --graph --all --oneline
  title = show --no-patch --pretty=%s
  haul = !git fetch --prune --all && git merge --ff-only
  watch = "!f() { gh run list --branch $(git rev-parse --abbrev-ref HEAD) -L 1 --json databaseId -q '.[0].databaseId' | xargs gh run watch; }; f"
[interactive]
  diffFilter = delta --color-only
[color]
  ui = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[delta]
  features = gruvmax-fang
  navigate = true
  side-by-side = true
  commit-style = "#fe8019" bold
	commit-decoration-style = "#fe8019" bold ul ol
  file-style = "#458588" bold italic
	file-decoration-style = "#458588" ul ol
	file-added-label = ""
	file-copied-label = ""
	file-modified-label = ""
	file-removed-label = ""
	file-renamed-label = ""
  hunk-header-style = syntax
	hunk-header-decoration-style = "#84786A" ul ol
	hunk-header-file-style = "#84786A"
	hunk-header-line-number-style = "#84786A"
	hunk-label = ""