[user]
	name = Claudio Jolowicz
	email = mail@claudiojolowicz.com
[core]
	editor = emacsclient
	excludesfile = /Users/claudio/.gitignore_global
[color]
	ui = true
[push]
	default = matching
[alias]
	unstage = reset HEAD --
	l1 = log --oneline
	graph = log --oneline --graph --all --decorate
	nlog = log
	ndiff = diff
	nshow = show
[pager]
	status = true
	nlog = less -FXR +/^commit.*
	ndiff = less -FXR~ +/^diff.*
	nshow = less -FXR +/^diff.* '+<'
[diff "gzip"]
	textconv = gzip -cd
[diff "xml-gzip"]
	textconv = gzip -cd | xmllint --exc-c14n
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autosquash = true
