color: #808080;
background-color: #1c1c1c;

/* CSS Selector for the entire wofi window */
window {
}

/* Selector for the text box for filtering items */
#input {
    color: #8a8a8a;
}

/* Selector for the box containing all entries */
#inner-box {
}

/* Selector for a box that everything else sits inside of */
#outer-box {
}

/* Selector for the scroll window containing inner-box */
#scroll {
}

/* Selector for the box containing the name of the program/option inserted */
#text {
    color: #808080;
}

/* Selector for the currently focused entry in the list. */
#entry:selected {
    background-color: #d75f00;
}

/* Selector for the currently focused text inside of the entry in the list. */
#text:selected {
    color: #1c1c1c;
}

/* Selector for the box containing text and if present, images */
#entry {
}

/* Selector for images displayed in entries */
#img {
}
